n8n/ndeploy-source-credential-export.workflow.json
{
  "name": "ndeploy - Source Credential Export Fallback",
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "none",
    "saveManualExecutions": true,
    "executionTimeout": 25
  },
  "nodes": [
    {
      "id": "webhook_node",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1120,
        0
      ],
      "onError": "continueRegularOutput",
      "parameters": {
        "httpMethod": "POST",
        "path": "ndeploy/source/credential-export",
        "responseMode": "responseNode",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      }
    },
    {
      "id": "validate_request",
      "name": "Validate Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -832,
        0
      ],
      "parameters": {
        "jsCode": "const crypto = require('crypto');\n\nconst input = $input.first().json;\nconst headers = input.headers ?? {};\nconst body = input.body ?? {};\n\nconst headerToken = headers['x-ndeploy-token'] ?? headers['X-NDEPLOY-TOKEN'] ?? '';\n// Replace this placeholder before activating the workflow.\nconst expectedToken = 'your-token-here';\n\nif (!headerToken || headerToken !== expectedToken) {\n  return [{ json: { statusCode: 401, body: { error: 'invalid_token', code: 'UNAUTHORIZED' } } }];\n}\n\nif (!body || !Array.isArray(body.credentials)) {\n  return [{ json: { statusCode: 400, body: { error: 'credentials_must_be_an_array', code: 'BAD_REQUEST' } } }];\n}\n\nconst credentials = body.credentials.map((item, index) => {\n  if (!item || typeof item !== 'object' || Array.isArray(item)) {\n    return { invalid: true, index };\n  }\n\n  const requestId = item.source_id ?? item.id;\n  if (requestId === undefined || requestId === null || requestId === '') {\n    return { invalid: true, index };\n  }\n\n  return {\n    source_id: String(requestId),\n    id: item.id != null ? String(item.id) : String(requestId),\n    name: item.name != null ? String(item.name) : null,\n    type: item.type != null ? String(item.type) : null,\n    invalid: false\n  };\n});\n\nconst invalidItem = credentials.find((item) => item.invalid);\nif (invalidItem) {\n  return [{ json: { statusCode: 400, body: { error: `credential_at_index_${invalidItem.index}_must_include_source_id_or_id`, code: 'BAD_REQUEST' } } }];\n}\n\nreturn [{\n  json: {\n    statusCode: 200,\n    tmpFile: `/tmp/ndeploy-credential-export-${crypto.randomUUID()}.json`,\n    credentials\n  }\n}];"
      }
    },
    {
      "id": "needs_error_response",
      "name": "Needs Error Response?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -592,
        0
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.tmpFile }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "respond_error",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -320,
        -144
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.body }}",
        "options": {
          "responseCode": "={{ $json.statusCode }}"
        }
      }
    },
    {
      "id": "export_credentials",
      "name": "Export Credentials",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -320,
        128
      ],
      "executeOnce": true,
      "parameters": {
        "command": "=TMP_FILE='{{ $('Validate Request').item.json.tmpFile }}'\nif command -v n8n >/dev/null 2>&1; then\n  if n8n export:credentials --all --decrypted --output=\"$TMP_FILE\" >/tmp/ndeploy-export.log 2>&1; then\n    cat \"$TMP_FILE\"\n    rm -f \"$TMP_FILE\"\n  elif n8n export:credentials --backup --decrypted --output=\"$TMP_FILE\" >/tmp/ndeploy-export.log 2>&1; then\n    cat \"$TMP_FILE\"\n    rm -f \"$TMP_FILE\"\n  else\n    rm -f \"$TMP_FILE\"\n    printf '{\"error\":\"credential_export_failed\",\"code\":\"INTERNAL_ERROR\",\"details\":{\"reason\":\"n8n_cli_export_failed\",\"command\":\"n8n export:credentials\"}}'\n  fi\nelse\n  printf '{\"error\":\"credential_export_failed\",\"code\":\"INTERNAL_ERROR\",\"details\":{\"reason\":\"n8n_cli_not_found\"}}'\nfi"
      }
    },
    {
      "id": "build_response",
      "name": "Build Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -48,
        128
      ],
      "parameters": {
        "jsCode": "const request = $('Validate Request').first().json;\nconst execResult = $input.first().json ?? {};\nconst stdout = String(execResult.stdout ?? execResult.data ?? '').trim();\n\ntry {\n  if (!stdout) {\n    return [{ json: { statusCode: 500, body: { error: 'empty_export_response', code: 'INTERNAL_ERROR' } } }];\n  }\n\n  const parsed = JSON.parse(stdout);\n\n  if (parsed && typeof parsed === 'object' && !Array.isArray(parsed) && parsed.error) {\n    return [{ json: { statusCode: 500, body: parsed } }];\n  }\n\n  const exportedItems = Array.isArray(parsed)\n    ? parsed\n    : Array.isArray(parsed.credentials)\n      ? parsed.credentials\n      : Array.isArray(parsed.data)\n        ? parsed.data\n        : [];\n\n  const byId = new Map();\n  const byNameType = new Map();\n\n  for (const item of exportedItems) {\n    if (!item || typeof item !== 'object' || Array.isArray(item)) continue;\n\n    const candidateId = item.source_id ?? item.id;\n    if (candidateId !== undefined && candidateId !== null && candidateId !== '') {\n      byId.set(String(candidateId), item);\n    }\n\n    if (item.name && item.type) {\n      byNameType.set(`${String(item.name)}::${String(item.type)}`, item);\n    }\n  }\n\n  const credentials = request.credentials.map((requested) => {\n    const directMatch = byId.get(requested.source_id) || byId.get(requested.id);\n    const fallbackMatch = requested.name && requested.type\n      ? byNameType.get(`${requested.name}::${requested.type}`)\n      : null;\n    const resolved = directMatch || fallbackMatch || null;\n    const data = resolved && resolved.data && typeof resolved.data === 'object' && !Array.isArray(resolved.data)\n      ? resolved.data\n      : null;\n\n    return {\n      source_id: requested.source_id,\n      data\n    };\n  });\n\n  return [{ json: { statusCode: 200, body: { credentials } } }];\n} catch {\n  return [{ json: { statusCode: 500, body: { error: 'invalid_export_response', code: 'INTERNAL_ERROR', details: { preview: stdout.slice(0, 500) } } } }];\n}"
      }
    },
    {
      "id": "respond_result",
      "name": "Respond Result",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        224,
        128
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.body }}",
        "options": {
          "responseCode": "={{ $json.statusCode }}"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Request": {
      "main": [
        [
          {
            "node": "Needs Error Response?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Needs Error Response?": {
      "main": [
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Export Credentials",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Export Credentials": {
      "main": [
        [
          {
            "node": "Build Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Response": {
      "main": [
        [
          {
            "node": "Respond Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
